# Secrets and tokens
secrets.yml

# Jenkins
jenkins_home/ # Ignore the entire Jenkins home directory (contains sensitive data and logs)
jenkins_home/*

# SonarQube
sonarqube/
sonarqube/sonarqube_data/ # Ignore SonarQube data directory
sonarqube/sonarqube_logs/ # Ignore SonarQube logs
sonarqube/sonarqube_temp/ # Ignore SonarQube temp files
sonarqube_old/

# nginx

nginx/html/
nginx/root_ssh/
nginx/ssh_keys/

# General
.vscode/ # Ignore VS Code settings
*.log # Ignore log files
*.tmp # Ignore temporary files